#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.imgLogo {
  height: 70px;
  object-fit: cover;
}

.iconoClima {
   width: 150px; 
  height: auto;
  object-fit: contain;
}